body {
    text-align: center;
}
#dynamic-display {
    text-align: center;
    margin-top: 100px;
    width: 200px;
}
#tone-display {
    text-align: center;
    margin-top: 100px;
    width: 200px;
}
#title {
    padding-top: 100px;
    text-align: center;
}